<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <a routerLink='/AddNewLec'><button type="button" class="btn btn-primary btn-block">Add a new Lecturer</button></a>
                </div>
                <div class="col-md-4"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <form class="example" action="action_page.php">
                      <input type="text" placeholder="Search by Reg Number" name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
              </div>
          </div>
           <br> 
           <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="table-responsive">
                  <table class="table">
                
                  </table>
                  <div class="row">
                    <div class="col-md-3">Register Number</div>
                    <div class="col-md-3">Name</div>
                    <div class="col-md-3">Designation</div>
                    <div class="col-md-3">Department</div>
  
                  </div>
                  <hr>
                 <a routerLink='/lecturerProfile'> <div class="row">
                    <div class="col-md-3">00001</div>
                    <div class="col-md-3">Anura</div>
                    <div class="col-md-3">Senior lecturer</div>
                    <div class="col-md-3">CIS</div>
                  </div>
                </a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>