  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <a routerLink='/AddNewLec'><button type="button" class="btn btn-primary btn-block">Add a new Lecturer</button></a>
                  </div>
                  <div class="col-md-4"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Search by Reg Number" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
             <br> 
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                              Register Number
                            </th>
                            <th>
                              Name
                            </th>
                            <th>
                              Designation
                            </th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Dakota Rice
                              </td>
                              <td>
                                Niger
                              </td>
                              <td>
                                Oud-Turnhout
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Minerva Hooper
                              </td>
                              <td>
                                Curaçao
                              </td>
                              <td>
                                Sinaai-Waas
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Sage Rodriguez
                              </td>
                              <td>
                                Netherlands
                              </td>
                              <td>
                                Baileux
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Philip Chaney
                              </td>
                              <td>
                                Korea, South
                              </td>
                              <td>
                                Overland Park
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Doris Greene
                              </td>
                              <td>
                                Malawi
                              </td>
                              <td>
                                Feldkirchen in Kärnten
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Mason Porter
                              </td>
                              <td>
                                Chile
                              </td>
                              <td>
                                Gloucester
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Jon Porter
                              </td>
                              <td>
                                Portugal
                              </td>
                              <td>
                                Gloucester
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>
            </div>
        
        </div>
      </div>
    </div>
  </div>
  