<div class="container">
    <div class="row"><a routerLink='/lecturerProfile'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a> </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="row"><h2>Requests</h2></div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="row">
        <div class="col-md-3"><h4>Department</h4></div>
        <div class="col-md-3"><h4>Year</h4></div>
        <div class="col-md-3"><h4>Semester</h4></div>
        <div class="col-md-3"><h4>EP Number</h4></div>
    </div>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">Dep1</div>
        <div class="col-md-3">2014</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3090</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">Dep1</div>
        <div class="col-md-3">2014</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3090</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">Dep1</div>
        <div class="col-md-3">2014</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3090</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">Dep1</div>
        <div class="col-md-3">2014</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3090</div>
    </div></a>

</div>