<div class="container">
    <a routerLink='/studentProfile'>
        <div class="row prop">
            <p>Get Studetn profile</p>
        </div>
    </a>
    <div class="row"><a routerLink='/ApproveSubjects'>
            <div class="image"><i class="fa fa-arrow-left"></i></div>
        </a> </div>
    <div class="row">
        <p>Name :</p>
    </div>
    <div class="row">
        <p>EP Number:</p>
    </div>
    <div class="row">
        <p>Register Number:</p>
    </div>
    <div class="row">
        <p>Department:</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Subject Code</h4>
        </div>
        <div class="col-md-6">
            <h4>Subject Name</h4>
        </div>

    </div>
    <div class="row panel">
        <div class="col-md-6">11111</div>
        <div class="col-md-6">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>

    </div>
    <div class="row panel">
        <div class="col-md-6">222222</div>
        <div class="col-md-6">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>

    </div>
    <div class="row panel">
        <div class="col-md-6">222222</div>
        <div class="col-md-6">ccccccccccccccccccccccccccccccc</div>

    </div>
    <div class="row panel">
        <div class="col-md-6">222222</div>
        <div class="col-md-6">dddddddddddddddddddddddddddddddddddd</div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">


                            <div class="image">
                                <button type="button" class="btn btn-primary btn-block">Approve</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="update ml-auto mr-auto">
                                <button type="button" class="btn  button-container delete">Reject</button>
                            </div>

                        </div>

                        <div class="col-md-4"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>