<div class="container">
    <div class="row"><a routerLink='/studentProfile'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a> </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="d-flex">
                <div class="dropdown mr-1">
                    <button type="button" alignment="left" class="btn btn-secondary dropdown-toggle"
                        id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                        Year
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">1st Year</a>
                        <a class="dropdown-item" href="#">2nd Year</a>
                        <a class="dropdown-item" href="#">3rd Year</a>
                        <a class="dropdown-item" href="#">4th Year</a>
                    </div>

                </div>
                <div class="dropdown mr-1">
                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset"
                        data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                        Semester
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">1st Semester</a>
                        <a class="dropdown-item" href="#">2nd Semester</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="row">
        <div class="col-md-3"><h4>Subject Code</h4></div>
        <div class="col-md-6"><h4>Subject Name</h4></div>
        <div class="col-md-3"><h4>Select the subject</h4></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">11111</div>
        <div class="col-md-6">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">222222</div>
        <div class="col-md-6">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row panel">
        <div class="col-md-3">222222</div>
        <div class="col-md-6">ccccccccccccccccccccccccccccccc</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row panel">
        <div class="col-md-3">222222</div>
        <div class="col-md-6">dddddddddddddddddddddddddddddddddddd</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">

                            <a routerLink='/ApplyExam'>
                                <div class="image"><button type="button"
                                        class="btn btn-primary btn-block">Apply</button></div>
                            </a>
                        </div>
                        <div class="col-md-4"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>